form { text-align: center;
margin-bottom:17%;
margin-top:13px;}
html {
background-image:url(math.jpeg);
background-size: cover ;
background-attachment: fixed;
background-position: center;
}
smaller{ 
width:40;
height: 500;}
header{
color: white;
text-align: center;}
input:invalid {background-color: rgb(255, 220, 220);}
input:valid {background-color:blue;}
input { border: solid purple ;}
footer {margin-bottom:none;
font-size: small;
color: white;}
.bla {color: green;}

